<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Index:</h1>
<h4 class="text-center"><a href="/registration">Create an account</a></h4>
<h4 class="text-center"><a href="/login">Login</a></h4>
<h4 class="text-center"><a href="/currencyExchange">Currency Exchange</a></h4>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>
